.imagen{
    background: url("./../../../assets/img/fondo.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
    
}

h1 {
	color: white;
	text-align: center;
}

label {
	color: white;
}



.imagen2{
    background: url("./../../../assets/img/fondo3.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
    
}

tr {
	color: white;
	text-align: center;
}

.margen {
	margin-bottom: 10px;
}

.margen2 {
	margin: 6px;
	position: relative;
}
