.imagen{
    background: url("./../../../assets/img/fondo.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
    
}

tr {
	color: white;
	text-align: center;
}


h2 {
	color: white;
	text-align: center;
}

.texto{
	text-align: left;
	margin-bottom: 15px;
}

.imagen2{
    background: url("./../../../assets/img/fondo3.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
    
}